body {
  font-family: Trebuchet MS;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.center {
  text-align: center;
}

h1 {
  padding: 40px;
  color: rgb(155, 35, 53);
}

.container {
  display: inline-block;
  cursor: pointer;
}

.logo {
  color: whitesmoke;
  font-size: 35px;
  letter-spacing: 3px;
}

.active {
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  height: 100px;
  background-color: rgb(155, 35, 53);
}

nav .menu-items {
  display: flex;
  justify-content: space-around;
}

nav .main-menu { 
  display: flex;
  list-style: none;
}

nav .main-menu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 1.5rem;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; 
  border-radius: 4px;
}

nav .main-menu li a:hover {
  background-color: rgb(197, 190, 210);
  opacity: 75%;
}

nav #burger {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: whitesmoke;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s; 
}

nav #burger span {
  position: absolute;
  transition: 0.5s;
  width: 27px;
  height: 3px;
  box-shadow: 0 -.5px 0 rgb(136, 109, 146);
  background: rgb(136, 109, 146);
  border-radius: 4px;
}

nav #burger span:nth-child(1) {
  transform: translateY(-9px);
}

nav #burger span:nth-child(2) {
  transform: translateY(9px);
}

nav #burger:hover {
  box-shadow: 5px 5px 5px rgb(99, 99, 161);
}

nav .icons {
  display: none;
}

.fa-linkedin:hover {
  color: rgb(212, 164, 184);
  opacity: 80%;
}

.fa-instagram:hover {
  color: rgb(212, 164, 184);
  opacity: 80%; 
}

.fa-github:hover {
  color: rgb(212, 164, 184);
  opacity: 80%;
}

.fa-github, .fa-linkedin, .fa-instagram {
  display: none;
  color: whitesmoke;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; 
  cursor: pointer;
}

/* for making the tab smaller */
@media(max-width: 900px) {
  nav .main-menu {
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s; 
    display: none;
  }

  nav .main-menu li a {
  }

  nav .main-menu li a:hover {
    background: none;
    color: rgb(153, 0, 77);
  }

  nav #burger {
  position: fixed;
  z-index: 100;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  }

  nav .icons {
    display: inline-block;
    padding: 12px;
    color: whitesmoke;
  }

}

